## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

In [1]:
a = "Yashank"
print(a)

Yashank

In [2]:
a

'Yashank'

In [3]:
type(a)

str

In [4]:
a.upper()

'YASHANK'

In [5]:
a.startswith("Y")

True

In [6]:
a.endswith("N")

False

In [7]:
z = "Yashank Karanwal"
z.endswith("Karanwal")

True

In [8]:
z.startswith("Karanwal")

False

In [9]:
b = "My_name_is_Yashank"
print(b)

My_name_is_Yashank

In [10]:
b.split("_")[0:2]

['My', 'name']

In [11]:
name = "MADAM"
reverse = name[::-1]
name == reverse

True

In [12]:
#Commenting
c = "     Data Scientist      "

In [13]:
print(c)

     Data Scientist

In [14]:
c.strip()

'Data Scientist'

In [15]:
d = 5
p = 4

In [16]:
d<=5

True

In [17]:
n = input("Enter name ")
n = n.lower()
n == n[::-1]

Enter name YASHANK

False

In [18]:
n = 58958
n = str(n)

In [19]:
m = n[0]

In [20]:
m = int(m)
m

5

In [21]:
#This code is printing Hello world
print("Hello World")

Hello World

In [22]:
a = "     Yashank  "
a = a.strip()
print(a)

Yashank

In [23]:
a = 'Yashank'
b = 'Karanwal'
print(a+" "+b)

Yashank Karanwal

In [24]:
c =input("Enter number")
c = int(c)
print(c%2==0)

Enter number24
True

In [25]:
c = "My,name,is,Yashank"
c = c.split(",")
print(c[3])

Yashank

In [26]:
a = "Yashank"
a = "Data Science"
print(a.endswith("n"))
print(a.startswith("D"))

False
True

In [27]:
type(a)

str

In [28]:
a = 25689
b = 85
print(a%b)
print(a-b)
print(a+b)
print(a*b)

19
25604
25774
2183565

In [29]:
a = int(input("Enter number to check even or odd "))
print(a%2!=0)

Enter number to check even or odd 8
False

In [30]:
a = input("Enter Firstname ")
b = input("Enter Lastname ")
print(a+" "+b)

Enter Firstname Yashank
Enter Lastname Karanwal
Yashank  Karanwal

In [31]:
sample_list = [1,2,3,"Yashank",
               "Data Scientist",
               ["My","Name",["New list",["More"]]]]
sample_list[5][2][1][0]

'More'

In [32]:
#Varibles

#Strings : ABCD
#Integer : 1,2,3,4
#Float : 0.2,0.03
#Boolean : True / False
#Complex : a+ib


"""
This
is multilevel
comment

"""


print("Hello World")

Hello World

In [33]:
list_1 = [2,5,8,4,6,9]
list_2 = [19,5,18,4,16,19]
common_values = [i for i in list_1 if i in list_2]
common_values

[5, 4]

In [34]:
#largest_num

my_list = [2,4,8,2,4,12]

def myMax(list1):
    a = 1
    for x in list1:
        if x > a :
             a = x
    return a

myMax(my_list)

12

In [35]:
from collections import Counter
my_list = [2,4,8,2,4,12]

Counter(my_list)

Counter({2: 2, 4: 2, 8: 1, 12: 1})

In [36]:
my_dict = dict(zip(my_list,[i*0 for i in range(1,len(my_list)+1)]))
for i in my_list:
    if i in my_dict.keys():
        my_dict[i] += 1
my_dict

{2: 2, 4: 2, 8: 1, 12: 1}

In [37]:
my_list.sort()
my_list[-1]

12

In [38]:
a = 30
b = 20

float(a)

30.0

In [39]:
#Palindrome
CHECK = "VIVEK"
CHECK == CHECK[::-1]

False

In [40]:
Name='YASHANK'
Name.endswith("K")

True

In [41]:
A = 34
B = 10
D = A != B and A>B

In [42]:
type(D)

bool

In [43]:
X = complex(3,5)
X.imag

5.0

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [44]:
print("Hello World")

Hello World

In [45]:
#a = "My name is Yashank"

a = "RACECAR"
#b = "Anything"
#print(b)
#print(a)
z= a.split()
a==a[::-1]

True

In [46]:
a=2
b=3

In [47]:
b=True
type(b)

bool

In [48]:
a = 5
b = 8
c = 2
d = (a+b)/c
print(d)

6.5

In [49]:
type(d)

float

In [50]:
print("Hello world")
a = "58"
b = 52
c = "Hello world"
d = 1.2
# print(a+b)
# print(a-b)

Hello world

In [51]:

a="My#Name#is#Yashank"
#print(a)
a.split("#")

['My', 'Name', 'is', 'Yashank']

In [52]:
b=8557.777
type(b)

float

In [53]:
type(False)

bool

In [54]:
False

False

In [55]:
print(True,False)

True False

In [56]:
type(True)

bool

In [57]:
type(False)

bool

In [58]:
my_str='RACECAR'
#print(my_str)
my_str==my_str[::-1]

True

In [59]:
my_str.split("#")
z=52585
z=str(z)
int(z[0])

5

In [60]:
#any_list=["a","c","d",5]
my_list=["Yashank","is","teaching",]
#my_list.insert(2,"New Value")
my_str="RACECAR"
my_str==my_str[::-1]

True

In [61]:
a=256852
a = float(a)
a

256852.0

In [62]:
a="ab"

In [63]:
z=str(123456789)
int(z[0])

1

In [64]:
len(my_str)

7

In [65]:
z[::-1]

'987654321'

In [66]:
my_str.istitle()

False

In [67]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
True
False
False
True
False
False
False
False

### Boolean and Logical Operators

In [68]:
True and True

True

In [69]:
True and False

False

In [70]:
True or False

True

In [71]:
True or True

True

In [72]:
str_example='Hello World'
my_str='Yashank'

In [73]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [74]:

new_list = ["Yashank","DataScientist","NLP",6,8,2]
new_list.remove("NLP")
print(new_list)

['Yashank', 'DataScientist', 6, 8, 2]

In [75]:
new_list = ["Yashank","Data","Science",["Machine Learning",["Deep Learning"]]]
new_list[3][1]

['Deep Learning']

In [76]:
any_list = [2,4,7,8]
any_list.pop()
print(any_list)

[2, 4, 7]

In [77]:
any_list=["Yashank","Data Scientist","IMS","Lenovo"]
any_list_2=["Yashank","Data Scientist","IMS","Lenovo"]
print(any_list)

any_list_2.insert(0,"Machine Learning")
print(any_list_2)

['Yashank', 'Data Scientist', 'IMS', 'Lenovo']
['Machine Learning', 'Yashank', 'Data Scientist', 'IMS', 'Lenovo']

In [78]:
any_list_2.index('Data Scientist')

2

In [79]:
any_list=["Yashank","Data Scientist","IMS","Lenovo"]
print(any_list)

any_list.append("New Value")
print(any_list)

['Yashank', 'Data Scientist', 'IMS', 'Lenovo']
['Yashank', 'Data Scientist', 'IMS', 'Lenovo', 'New Value']

In [80]:
sample_list=["Yashank","IMS","DataScience",["New","List",["Another","New"]],25,26,89,['Find']]
# sample_list.append("New Text")
# sample_list.

type(sample_list)

list

In [81]:
sample_list=["Yashank","IMS","DataScience"]
sample_list.insert(0,"Beginning")
sample_list

['Beginning', 'Yashank', 'IMS', 'DataScience']

In [82]:
sample_list=["Yashank","IMS","DataScience"]
sample_list.insert(1,"Begin")
#sample_list.pop()
sample_list

['Yashank', 'Begin', 'IMS', 'DataScience']

In [83]:
sample_list.remove("Begin")
sample_list

['Yashank', 'IMS', 'DataScience']

In [84]:
#sets data structure
#Iterable
#Mutable
#No duplicate elements

In [85]:
sample_list = ["a","b","c","d","d"]
new_set = set(sample_list)
new_set.add("e")
new_set.add("e")

new_set

{'a', 'b', 'c', 'd', 'e'}

In [86]:
people = {"Jay", "Idrish", "Archil","Karan"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)
print(population)
print(population.pop())
population.remove("Jay")
print(population)

{'Idrish', 'Karan', 'Arjun', 'Jay', 'Archil'}
Idrish
{'Karan', 'Arjun', 'Archil'}

In [87]:
any_tuple = ("a","b","c")
any_tuple = list(any_tuple)
any_tuple.append("New")
any_tuple = tuple(any_tuple)
print(any_tuple)

('a', 'b', 'c', 'New')

In [88]:
def check_armstrong(num:int):
    power = len(str(num))
    power_list = [int(i)**power for i in str(num)]
    SUM = 0
    for i in power_list:
        SUM = SUM + i
    if SUM == num:
        print("Valid")
    else:
        print("Invalid")
check_armstrong(0)

Valid

In [89]:
 people.intersection(vampires)

{'Karan'}

In [90]:
set(sample_list)

{'a', 'b', 'c', 'd'}

In [91]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
thistuple = list(thistuple)
thistuple.insert(0,"Orange")
thistuple = tuple(thistuple)
thistuple

('Orange', 'apple', 'banana', 'cherry', 'apple', 'cherry')

In [92]:
#tuple
#Non mutable
#store duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(list(thistuple))
type(thistuple)

['apple', 'banana', 'cherry', 'apple', 'cherry']

tuple

In [93]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
new = list(thistuple)
new.append("New Value")
tuple(new)

('apple', 'banana', 'cherry', 'apple', 'cherry', 'New Value')

In [94]:
a=tuple(sample_list)
list(a)

['a', 'b', 'c', 'd', 'd']

In [95]:
sample_list.append("End")

In [96]:
sample_list

['a', 'b', 'c', 'd', 'd', 'End']

In [97]:
len(sample_list)

6

In [98]:
type(sample_list)

list

In [99]:
lst_example=[]

In [100]:
type(lst_example)

list

In [101]:
lst=list()

In [102]:
type(lst)

list

In [103]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [104]:
len(lst)

6

In [105]:
type(lst)

list

In [106]:
new_list=[]
list_1=[2,3,4,5]
for i in list_1:
    if i%2!=0:
        new_list.append(i*10)
    
new_list

[30, 50]

### Append

In [107]:
#.append is used to add elements in the list
lst.append("Krish")

In [108]:
lst.append(["John","Bala"])

In [109]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [110]:
##Indexing in List
lst[6]

'Krish'

In [111]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [112]:
## insert in a specific order

lst.insert(2,"Yashank")

In [113]:
lst

['Mathematics',
 'chemistry',
 'Yashank',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [114]:
lst.append(["Hello","World"])

In [115]:
lst

['Mathematics',
 'chemistry',
 'Yashank',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [116]:
lst=[1,2,3]

In [117]:
lst.append([4,5])

In [118]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [119]:
lst=[1,2,3,4,5,6]

In [120]:
lst.extend([8,9])

In [121]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [122]:
import numpy as np
lst=[65,52,25]
np.mean(lst)
np.std(lst)

16.659998666133067

In [123]:
sum(lst)

142

In [124]:
lst*5

[65, 52, 25, 65, 52, 25, 65, 52, 25, 65, 52, 25, 65, 52, 25]

### Pop() Method

In [125]:
lst.pop()

25

In [126]:
lst

[65, 52]

In [127]:
lst.pop(0)

65

In [128]:
lst

[52]

### count():Calculates total occurrence of given element of List

In [129]:
lst=[1,1,1,2,3,4,5]
lst.count(1)
Output=[]
for i in lst:
    if lst.count(i)>1:
        pass
    else:
        Output.append(i)
        
Output

[2, 3, 4, 5]

In [130]:
#length:Calculates total length of List
len(lst)

7

In [131]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(2)

3

In [132]:
##Min and Max
min(lst)

1

In [133]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [134]:
new_list = ['My','Name','Is','Is','Yashank']

new_list = set(new_list)
print(new_list)

{'Yashank', 'Is', 'My', 'Name'}

In [135]:
#If we are using pop attribute in list,It will remove the last varibale
#but in sets, it will remove a random variable

In [136]:
new_list.pop()

'Yashank'

In [137]:
new_list

{'Is', 'My', 'Name'}

In [138]:
new_set = {"My","Name","Is","Yashank"}
new_set_2 = {"Yashank","Is","Data Scientist"}

type(new_set)

set

In [139]:
new_set.pop()

'Yashank'

In [140]:
new_set

{'Is', 'My', 'Name'}

In [141]:
new_set.intersection(new_set_2)

{'Is'}

In [142]:
new_set.union(new_set_2)

{'Data Scientist', 'Is', 'My', 'Name', 'Yashank'}

In [143]:
## Defining an empty set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [144]:
lst=[1,1,2,3,4,5]
list(set(lst))

[1, 2, 3, 4, 5]

In [145]:
set_var={1,2,3,4,3}

In [146]:
set_var

{1, 2, 3, 4}

In [147]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set

In [148]:
## Inbuilt function in sets

set_var.add("Hulk")

In [149]:
print(set_var)

{'Hitman', 'IronMan', 'Avengers', 'Hulk'}

In [150]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [151]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [152]:
set2.difference_update(set1)

In [153]:
set2

{'Hulk2'}

In [154]:
set2.intersection(set1)

set()

In [155]:
set2

{'Hulk2'}

In [156]:
set2

{'Hulk2'}

In [157]:
## Difference update

set2.difference_update(set1)

In [158]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [159]:
my_dict = {}
type(my_dict)

dict

In [160]:
my_dict = {"physics":82,"Maths":62,"chemistry":40}
Marks = [i for i in my_dict.values()]
Marks =min(Marks)
my_dict.get(Marks)

In [161]:
my_dict={"Car1": "AUDI",
         "Car2":"BMW",
         "Car3":"Mercidies Benz"} 

my_dict_2={"Car4": "HONDA",
         "Car5":"FIAT",
         "Car6":"TATA"}

In [162]:
my_dict['Car1'] = "Maruti"
my_dict.popitem()

('Car3', 'Mercidies Benz')

In [163]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW'}

In [164]:
list_1 = ["a","b","c","d"]
list_2 = [1,2,3,4]

dict(zip(list_1,list_2))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [165]:
my_dict.update(my_dict_2)

In [166]:
my_dict

{'Car1': 'Maruti',
 'Car2': 'BMW',
 'Car4': 'HONDA',
 'Car5': 'FIAT',
 'Car6': 'TATA'}

In [167]:
list_1=["CAR1","CAR2","CAR3"]
list_2=["TATA","MARUTI","HONDA"]
dict(zip(list_1,list_2))

{'CAR1': 'TATA', 'CAR2': 'MARUTI', 'CAR3': 'HONDA'}

In [168]:
my_dict['Car1']=["AUDI","MARUTI"]

In [169]:
my_dict

{'Car1': ['AUDI', 'MARUTI'],
 'Car2': 'BMW',
 'Car4': 'HONDA',
 'Car5': 'FIAT',
 'Car6': 'TATA'}

In [170]:
my_dict.pop('Car2')

'BMW'

In [171]:
# list []
# tuple ()
# dict {key:values}
# set {}

In [172]:
my_dict.popitem()

('Car6', 'TATA')

In [173]:
print(my_dict)

{'Car1': ['AUDI', 'MARUTI'], 'Car4': 'HONDA', 'Car5': 'FIAT'}

In [174]:
list_1=['Yashank','Data Science']
list_2=['IMS','SQL']

In [175]:
my_dict

{'Car1': ['AUDI', 'MARUTI'], 'Car4': 'HONDA', 'Car5': 'FIAT'}

In [176]:
my_dict.values()

dict_values([['AUDI', 'MARUTI'], 'HONDA', 'FIAT'])

In [177]:
set_ex={1,2,3,4,5}

In [178]:
type(set_ex)

set

In [179]:
## Lets create a dictionary

my_dict={"Car1": ["Audi","Nano"], "Car2":"BMW","Car3":"Mercedes Benz"} 
my_dict["Car2"]="Maruti"
my_dict["dgfdhd"]="hfhdh"
del my_dict["dgfdhd"]

new_dict={"Data Science":"IMS"}
my_dict.update(new_dict)

In [180]:
my_dict

{'Car1': ['Audi', 'Nano'],
 'Car2': 'Maruti',
 'Car3': 'Mercedes Benz',
 'Data Science': 'IMS'}

In [181]:
list_1=["My","Name","Is","Yashank"]
list_2=[1,2,3,4]
dict(zip(list_1,list_2))

{'My': 1, 'Name': 2, 'Is': 3, 'Yashank': 4}

In [182]:
for i,j in my_dict.items():
    print(i,j)

Car1 ['Audi', 'Nano']
Car2 Maruti
Car3 Mercedes Benz
Data Science IMS

In [183]:
list_1=["a","b","c"]
list_2=[1,2,3]

dict(zip(list_1,list_2))

{'a': 1, 'b': 2, 'c': 3}

In [184]:
my_dict['Car2']="Maruti"

In [185]:
a=(1,2,3,5)
b=list(a)
b.append(6)
c=tuple(b)
print(type(c))
c

<class 'tuple'>

(1, 2, 3, 5, 6)

In [186]:
list_1=["My","Name","Is","Rohan"]
list_2=[1,2,3,4]

In [187]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3', 'Data Science'])

In [188]:
my_dict.values()

dict_values([['Audi', 'Nano'], 'Maruti', 'Mercedes Benz', 'IMS'])

In [189]:
list_1=["Name","Subject","Marks"]
list_2=["Rohan","DataScience",100]
list_3=[12,25,26,45,26]

my_dict2=dict(zip(list_1,list_2))

for i in range(0,52,2):
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [190]:
Marks=int(input("Enter Marks"))
#Condition
if Marks<40:
    print("Fail")
elif Marks>40 and Marks<60:
    print("Average")
else:
    print("Pass")

Enter Marks58
Average

In [191]:
#Conditional Statement

my_name='Rohan'
if my_name=="Rohan":
    print("Correct") 
elif my_name=="Rohan":
    print("No Idea")
else:
    print("Not Correct")

Correct

In [192]:
a=6
b=5

Calculation=input("How to Calculate ")
if Calculation=="SUM":
    print(a+b)
    
elif Calculation=="MUL":
    print(a*b)

elif Calculation=="SUB":
    print(a-b)
    
else:
    print("Unable to Execute")

How to Calculate 6
Unable to Execute

In [193]:
i = 1
while i < 6:   
    print(i)
    i =i+1

1
2
3
4
5

In [194]:
a=5

Product=1
for i in range(1,a+1):
    Product=Product*i
    
print(Product)

120

In [204]:
my_name="YASHANK"
vowels=["a","e","i","o","u"]
for j,i in enumerate(my_name.lower()):
    if i in vowels:
        print(j,i,"Vowel")
    else:
        print(j,i,"Not Vowel")

0 y Not Vowel
1 a Vowel
2 s Not Vowel
3 h Not Vowel
4 a Vowel
5 n Not Vowel
6 k Not Vowel

In [196]:
Number=10
Output=[0,1]
for i in range(1,Number):
    Output.append(Output[-2]+Output[-1])
print(Output)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [197]:
x=5
Product=1
while x>1:
    Product=Product*x
    x=x-1

print(Product)

120

In [198]:

SUM=0
for i in range(0,9):
    SUM=SUM+i
  

    
if SUM%2==0:
    print("EVEN")
else:
    print("ODD")

EVEN

In [199]:
Number=5
Fact=1

for i in range(1,Number+1):
    Fact=Fact*i

print(Fact)

120

In [200]:
sum=0
for i in range(0,256,2):
    sum=sum+i
print(sum)

16256

In [203]:
Intital=[0,1]
Number=7
for i in range(Number):
    Intital.append(Intital[-2]+Intital[-1])
    
print(Intital)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [205]:
my_name="YASHANK"
vowels=["a","e",'i',"o","u"]
empty_list=[]
for i in my_name.lower():
    if i in vowels:
        empty_list.append(i)
print(len(empty_list))

2

In [206]:
##Access the item values based on keys

my_dict['Car1']

['Audi', 'Nano']

In [207]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3
Data Science

In [208]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

['Audi', 'Nano']
Maruti
Mercedes Benz
IMS

In [209]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', ['Audi', 'Nano'])
('Car2', 'Maruti')
('Car3', 'Mercedes Benz')
('Data Science', 'IMS')

In [210]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [211]:
my_dict

{'Car1': ['Audi', 'Nano'],
 'Car2': 'Maruti',
 'Car3': 'Mercedes Benz',
 'Data Science': 'IMS',
 'car4': 'Audi 2.0'}

In [212]:
my_dict['Car1']='MAruti'

In [213]:
my_dict

{'Car1': 'MAruti',
 'Car2': 'Maruti',
 'Car3': 'Mercedes Benz',
 'Data Science': 'IMS',
 'car4': 'Audi 2.0'}

In [214]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Nested Dictionary

In [215]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [216]:
for i,j in car_type.items():
    for k,m in j.items():
        print(m)

1960
1970
1980

In [217]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [218]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [219]:
## create an empty Tuples


my_list=[12,25,26]
my_tuple=tuple(my_list)
my_tuple.index(25)

1

In [220]:
my_list=list(my_tuple)
my_list.append(56)
tuple(my_list)

(12, 25, 26, 56)

In [221]:
new_tuple=(2,5,6,5)

In [222]:
type(my_tuple)

tuple

In [224]:
my_tuple=()

In [225]:
type(my_tuple)

tuple

In [226]:
my_tuple=("Krish","Ankur","John")

In [228]:
my_tuple=('Hello','World')

In [229]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [230]:
type(my_tuple)

tuple

In [231]:
## Inbuilt function
my_tuple.count('Yashank')

0